* {
  margin:0;
  padding:0;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  font-family: 'Kalam', sans-serif;
  color: #2C3639;
}


/* ------------ NAVBAR ------------- */

.navbar {
  text-decoration: none;
  background-color: #2C3639;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: center
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:visited {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 3.5rem;
  padding-left: 1rem;
  color: #A27B5C;
}

.nav-link {
  font-size: 2rem;
  color: #A27B5C;
}

/* --------- SIDEBAR CARDS --------- */

.card {
  background-color: #a27b5c50;
  margin-bottom: 20px;
  width: 300px;
}

#nickname {
  position: fixed;
  right: 20px;
  bottom: 30px;
  /* margin-bottom: 0; */
}

/* ------------- BOARD ------------- */

#MoveTypeDropdownItem {
  padding: 0 16px 0 16px;
}

::placeholder {
  font-family: 'Kalam', sans-serif;
  color: #EDE6E0;
}

#endround {
  display: flex;
  justify-content: center;
}

#login_btn, #endround_btn, #newgame_btn {
  color: #e2ddcf;
  font-family: 'Kalam', sans-serif;
}

#scoreboard_title {
  font-size: 1.5rem;
  padding-top: 20px;
  padding-left: 20px;
}

#players_column {
  align-items: flex-start;
}

.round_column_show {
  background-color: #c8b49e;
}