* {
  margin:0;
  padding:0;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  font-family: 'Rubik Mono One';
}


/* ------------ NAVBAR ------------- */

.navbar {
  text-decoration: none;
  background-color: #2C3639;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:visited {
  font-size: 3rem;
  padding-left: 1rem;
  color: #A27B5C;
}

.nav-link {
  font-size: large;
  color: #A27B5C;
}

/* ------------- CARDS ------------- */

.card {
  background-color: #a27b5caf;
  margin-bottom: 20px;
}